* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}



body{
    overflow-x: hidden;
}

:root{
    --main: rgb(32, 32, 124);
    --secondshade:rgb(203, 232, 241);
    --gray: rgb(112, 110, 110);
    --orange: orange;
}

nav{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-right: 20px ;
    height: 80px ;
    box-shadow: 0 0 1px 1px rgba(32,32,124, 0.18);
    cursor: pointer;
    /* overflow-y: hidden; */
    /* position: fixed; */
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;


}
/* #logo{
    width: 20vm;
    min-width:50px;
   max-width: 150px;
    image-rendering: crisp-edges;
} */

.logoh{
    color: var(--main);
    font-family: sans-serif;
    text-align: center;
}


/* .logo, .logoh {
    display: flex;
    
} */

.imlo{
    display: flex;
    align-items: center;
    
    
}

ul {
    display: flex;
    gap: 30px;
    align-items: center;
    z-index: 1001;

}

ul li {
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 0.7rempx;
    color: var(--main);
    font-family: sans-serif;
    font-weight: 700;
    transition: color 0.3s ease;

}

#nav-list-items li a:hover {
    color: var(--orange);
}


/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    font-size: 1rem;
    color: var(--main);
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between text and icon */
    transition: color 0.3s ease;
}

.dropbtn:hover {
    color: var(--orange);
}

/* Dropdown Icon */
.dropdown-icon {
    font-size: 0.9rem;
    transition: transform 0.3s ease;
}

.dropdown.active .dropdown-icon {
    transform: rotate(180deg); /* Rotate when dropdown is active */
}

/* Dropdown Content */
.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1400;
    min-width: 150px;
    text-align: left;
    overflow: hidden;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-size: 1rem;
    color: var(--main);
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1500;
}



/* Show Dropdown When Active */
.dropdown.active .dropdown-content {
    display: block;
}




.icon {
    font-size: 35px;
    color: var(--main);
    /* padding-right: 10px; */
    display: none;
}

/* imagecard */

.image-card{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-card::before{
    content: '';
    background-image: url(/winsschool/IMG_5886.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1;
    filter: brightness(0.5);
}

.texts{
    position: relative;
    /* text-align: right; */
    font-family: sans-serif;
    padding: 20px;
}


.texts h2{
    font-size: 2.5rem;
    color: var(--secondshade);
    margin-bottom: 2rem;
}

.texts p{
    color: #fff;
    width: 90%;
    font-size: 1.2rem;
    font-family: sans-serif;

}

/* admission buttons */

.buttons{
    margin-top: 3rem;

}

.Application-btn{
    padding: 1rem;
    background-color: var(--orange);
    border: none;
    margin-bottom: 1px;
    color: #fff;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
}

.normal-btn{
    padding: 1rem;
    background-color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: sans-serif;
}

/* admission */


.line{
    width: 35px;
    height: 4px;
    background-color:var(--orange);
    display: grid;
    margin-bottom: 5px;
}

.line2{
    width: 65px; 
}


.two{
    display: flex;
    margin-top: 5px;
    margin-bottom: 1rem;
    align-items: center;
}

.two > .twospan {
    margin-left: 20px;
    margin-top: 5px;
} 

.about {
    margin-left: 5%;
    margin-right: 5%;
    
}

 .two{
    color: var(--main);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;

}

.admission{
    /* display: flex; */
    margin-top: 4rem;
    padding: 2rem;
}

.admission img{
    width: 100%;
}

.admission-card {
    margin-top: -35px;
}

.heading{
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(25, 25, 43);
    margin-bottom: 1rem;

}

.admission p, ol{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 72, 72);
}
.admission span{
    color: var(--main);
}

.admission ol{
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.admission button{
    margin-top: 1rem;
}




/* scroll arrow */
html{
    scroll-behavior: smooth;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    border-radius: 50%;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.back-to-top.show {
    display: inline-flex;
 }

.back-to-top i{
    color: #fff;
    font-size: 1.7rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
background-color: var(--orange);
}

.back-to-top:hover i{
    transform: translateY(-4px);
}

.exam{
    background-color: var(--secondshade);
    margin: 2rem;
    padding: 3%;
    text-align: center;
}

.exam-card i{
   color: var(--main);
   font-size: 2.5rem; 
}

.exam-card h2{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: sans-serif;
}

.exam-card p{
    margin-top: 1.2rem;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--gray);
}

/* EXAM INPUT */

.exam-input{
    width: 70%;
    height: 3rem;
    font-size: 1rem;
    font-family: serif;
    font-size: 1.5rem;
    border: none;
}

.exam-form{
    position: relative;
}

.exam-form button{
    padding: 0.4rem;
    background-color: var(--main);
    color: #fff;
    position: absolute;
    right: 4rem;
    top: 0.08rem;
    width: 20%;
    
}









/* footer */
.footer-section{
    background-image: url(/winsschool/bluebackground3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 1.5rem;
    margin-top: 4rem;
    /* display: flex; */
}

.footer-section h2{
    color: #fff;
    margin-bottom: 1rem;
    padding-top: 3rem;
}


.icon-text {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 0.8rem;

}

.icon-text i{
    color: var(--orange);
    font-weight: 800;
    font-size: 0.8rem;
    font-family: sans-serif;
}



.icon-text a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    
}

.contact-icon{
    display: flex;
    gap: 0.8rem;
    margin-bottom: 1.2rem;

}

.contact-icon i{
    color: var(--orange);
}

.contact-icon p{
    color: #fff;
    font-family: sans-serif;
    
}

.brands {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.brands i {
    margin-right: 0.2rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--main);
    
}

/* news */
/* .exam-input{
    width: 70%;
    height: 3rem;
    font-size: 1rem;
    font-family: serif;
    font-size: 1.5rem;
    border: none;
}

.exam-form{
    position: relative;
}

.exam-form button{
    padding: 0.4rem;
    background-color: var(--main);
    color: #fff;
    position: absolute;
    right: 4rem;
    top: 0.08rem;
    width: 20%;
    
} */



/* footer */
footer{
    display: flex;
    margin-top: 3rem;
    color: #fff;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #fff;

}


.rightsreserved, footer i{
    color: grey;
}


















/* mediaqueries */


@media only screen and (max-width: 900px){
    ul {
       position: absolute;
       top: 80px;
       left: 0;
       right: 0;
       flex-direction: column;
       background: #fff;
       text-align: center;
       gap: 0;
       overflow: hidden;
       transition: all, 0.7s ease-out;
       
   }
  .ul {
       transition: all, 0.7s ease-out;
  }

   ul li {
       padding: 20px;

   }

   ul li a {
       color:var(--main);
       font-family: sans-serif;
       
   }

  .icon {
   display: block;
  }  


  #logo{
      width: 5rem;
  }
   
  .dropdown-content {
    left: auto; /* Remove left alignment */
    right: 5rem; /* Align dropdown to the right */
}
  

}


@media only screen and (min-width: 700px){

   
       #logo{
           /* width: 25vm; */
           /* min-width:50px; */
           /* height: 125px; */
          /* max-width: 150px; */
           image-rendering: crisp-edges;
       }
   

       .texts p{
        width: 60%;
       }

     
       /* footer */
       .footer-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1% 5%;
       }

       footer{
        padding-bottom: 1rem;
        margin-top: 2rem;
       }
}



@media only screen and (min-width: 968px){
   
    
    #logo{
        width: 5rem;
        /* min-width:50px; */
        /* height: 125px; */
       max-width: 150px;
        image-rendering: crisp-edges;
    }

    
    
    /* about */
    
    .admission{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2%;
        margin: 0% 5%;
        /* margin-top: 3%; */
    }


     /* exam input */

  .exam-input{
    width: 50%;
    height: 3rem;
    font-size: 1rem;
    font-family: serif;
    font-size: 1.5rem;
    border: none;
}

.exam-form button{
    
    padding: 0.2rem;
    right: 17rem;
    top: 0.08rem;
    width: 10%;
    font-size: 1rem;
    
}

.exam {
    margin: 0% 7%;
}

}

